

h1 {
    text-align: center;
    color: green;
    font-size: 50px

}

input{ margin: 10px;

}



body{ background-image: url("https://lh6.googleusercontent.com/Mzj4uKJI-qkzhArtTVdTeU7CVwOojtlUkdutDrpOfGlikQDwXShHdV9z8dzhuA_pD7R93SFhpHg5IF7KKzu1f4qXqB2N5HM637Si9V0Oko64aZEqnt2nmvF_Ih2UWmJJdWiEn42u");
     

}

